
/*@media*/
@media  (max-width: 569px){
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        font-size: 10px;
        width: 100%;
    }
    .nav-bar .logo-location-container{
        /*background-color: rgb(211, 101, 101);*/
        display: flex;
        /*align-items: center;*/
        justify-content: start;
        height: 40px;
        margin-left: -15px;
        flex: 1;
    }
    .nav-bar .right-section{
        display: flex;
        /*background-color: rgb(199, 14, 42);*/
        height: 40px;
        gap: 1px;
        margin-right: -10px;
        flex-shrink: 0;
        flex: 1;
    }
    /*End of the 3 sections*/

    /*Search bar*/
    .nav-bar .search-bar-container{
        margin-left: none;
    }
    .nav-bar .all-button{
        font-size: 11px;
        width: 35px;
        height: 35px;

    }
    .nav-bar .all-drop-downfill{
        font-size: 5px;
    }
    .search-bar-input-container{
      margin: none;
    }
    .nav-bar .search-bar-input{
        height: 35px;
        width: 0;
        
    }  

    .nav-bar .search-bar-input::placeholder{
        font-size: 10px;
        
    }

    .nav-bar .search-bar-button-container{
        margin: none;
    }

    .nav-bar .search-button{
        font-size: 10px;
        height: 35px;
        width: 35px;   
    }
    
    /*End of search bar*/
    
    /*amazon logo and location*/
    .nav-bar .amazon-logo-container img{
        width: 55px;
        height: auto;
    }
    .nav-bar .location-text{
        /*background-color: lightpink;*/
        margin-left: -13px;
        height: 20px;
        padding: 1px;
    }
    .nav-bar #location-icon-address{
        font-size: 6px;    
    }
    .nav-bar .delivery-address{
        font-size: 10px;
        padding-bottom: 4px;
        
    }
    .nav-bar .location-details{
        font-size: 10px;
        margin-left: 1px;
        
    }
    .nav-bar .update-location{
        font-weight: bold;
    }
    /*End of amazon logo and location*/

    /*lang, account, order, cart*/
    .nav-bar .lang-flag-container{
        padding: 1px 1px;
        margin-left: -10px;
    }
    .nav-bar .flag-icon img{
        width: 10px;
        
    }
    .nav-bar .lang-select{
        font-size: 10px;
    }
    .nav-bar .drop-fill-icon{
        font-size: 3px;
        padding-top: 3px;
        margin-left: -4px;
    }
    .nav-bar .hello-sign {
        padding-bottom: 6px;
        font-size: 10px;
        margin-left: -4px;
    }
    .nav-bar .account-lists-text{
        font-size: 10px;
        margin-left: -4px;
        
    }
    /*Hello, Sign in icon*/
    .nav-bar .down-fill-container{
        font-size: 6px;
        padding-top: 8px;
        margin-left: -2px;
    }
    .nav-bar .return-text{
        padding-bottom: 6px;
        margin-left: -7px;
        font-size: 10px;
    }
    .nav-bar .order-text{
        font-size: 11px;
        margin-left: -7px;
    }
    .cart-container{
        margin-left: -10px;
    }
    .nav-bar .cart-num-items{
        font-size: 10px;
        margin-left: 1px;
        
    }
    .nav-bar .cart-text{
        font-size: 10px;
        
    }
   .nav-bar .account-create-text{
        font-size: 10px;
    }
    .nav-bar .cart-image img{
        width: 3vw;
        height: auto;
        /*margin-right: 4px;*/
        margin-top: -3px; 
    }
    /*End of lang, account, order, cart*/
}
/*end of @media*/
/*@media*/
@media (min-width: 570px) and (max-width: 608px){
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        font-size: 11px;
        width: 100%;
    }
    .nav-bar .logo-location-container{
        /*background-color: lightblue;*/
        display: flex;
        /*align-items: center;*/
        justify-content: start;
        height: 45px;
        margin-left: -15px;
        flex: 1;
    }
    .nav-bar .right-section{
        display: flex;
        /*background-color: lightpink;*/
        height: 45px;
        gap: 1px;
        margin-right: -10px;
        flex-shrink: 0;
        flex: 1;
    }
    /*End of the 3 sections*/

    /*Search bar*/
    .nav-bar .search-bar-container{
        margin-left: none;
    }
    .nav-bar .all-button{
        font-size: 11px;
        width: 40px;
        height: 40px;

    }
    .nav-bar .all-drop-downfill{
        font-size: 6px;
    }
    .search-bar-input-container{
      margin: none;
    }
    .nav-bar .search-bar-input{
        height: 40px;
        /*width: 0;*/
        
    }  

    .nav-bar .search-bar-input::placeholder{
        font-size: 11px;
        
    }

    .nav-bar .search-bar-button-container{
        margin: none;
    }

    .nav-bar .search-button{
        font-size: 12px;
        height: 40px;
        width: 40px;   
    }
    
    /*End of search bar*/
    
    /*amazon logo and location*/
    .nav-bar .amazon-logo-container img{
        width: 60px;
        height: auto;
    }
    .nav-bar .location-text{
        /*background-color: lightpink;*/
        margin-left: -13px;
        height: 45px;
        padding: 1px;
    }
    .nav-bar #location-icon-address{
        font-size: 8px;    
    }
    .nav-bar .delivery-address{
        font-size: 11px;
        
    }
    .nav-bar .location-details{
        font-size: 12px;
        margin-left: 1px;
        
    }
    .nav-bar .update-location{
        font-weight: bold;
    }
    /*End of amazon logo and location*/

    /*lang, account, order, cart*/
    .nav-bar .lang-flag-container{
        padding: 1px 1px;
        margin-left: -10px;
    }
    .nav-bar .flag-icon img{
        width: 12px;
        
    }
    .nav-bar .lang-select{
        font-size: 11px;
    }
    .nav-bar .drop-fill-icon{
        font-size: 4px;
        padding-top: 3px;
        margin-left: -4px;
    }
    .nav-bar .hello-sign {
        padding-bottom: 4px;
        margin-left: -4px;
        font-size: 11px;
    }
    .nav-bar .account-lists-text{
        font-size: 12px;
        margin-left: -4px;
        
    }
    /*Hello, Sign in icon*/
    .nav-bar .down-fill-container{
        font-size: 6px;
        padding-top: 8px;
        margin-left: -2px;
    }
    .nav-bar .return-text{
        padding-bottom: 4px;
         margin-left: -7px;
         font-size: 11px;
    }
    .nav-bar .return-text,
    .nav-bar .order-text{
        font-size: 12px;
        margin-left: -7px;
    }
    .cart-container{
        margin-left: -10px;
    }
    .nav-bar .cart-num-items{
        font-size: 12px;
        /*top: -1vw;
        right: 1vw;*/
    }
    .nav-bar .cart-text{
        font-size: 12px;
        /*font-size: 0.75vw;*/
    }
   .nav-bar .account-create-text{
        /*font-size: 0.6vw;*/
        font-size: 11px;
    }
    .nav-bar .cart-image img{
        /*width: 2vw;*/
        width: 3vw;
        height: auto;
        margin-left: 1px;
        margin-top: -7px; 
    }
    /*End of lang, account, order, cart*/
}
/*end of @media*/

/*@media*/
@media (min-width:609px) and (max-width: 765px){
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        font-size: 12px;
        width: 100%;
    }
    .nav-bar .logo-location-container{
        /*background-color: lightblue;*/
        display: flex;
        /*align-items: center;*/
        justify-content: start;
        height: 50px;
        margin-left: -15px;
        flex: 1;
    }
    .nav-bar .right-section{
        display: flex;
        /*background-color: lightblue;*/
        height: 50px;
        gap: 1px;
        margin-right: -10px;
        flex-shrink: 0;
        flex: 1;
    }
    /*End of the 3 sections*/

    /*Search bar*/
    .nav-bar .search-bar-container{
        margin-right: none;
    }
    .nav-bar .all-button{
        font-size: 12px;
        width: 40px;
        height: 40px;

    }
    .nav-bar .all-drop-downfill{
        font-size: 5px;
    }
    .search-bar-input-container{
      margin: none;
    }
    .nav-bar .search-bar-input{
        height: 40px;
        width: 0;
        
    }  

    .nav-bar .search-bar-input::placeholder{
        font-size: 12px;
        
    }

    .nav-bar .search-bar-button-container{
        margin: none;
    }

    .nav-bar .search-button{
        font-size: 11px;
        height: 40px;
        width: 40px;   
    }
    
    /*End of search bar*/
    
    /*amazon logo and location*/
    .nav-bar .amazon-logo-container img{
        width: 60px;
        height: auto;
    }
    .nav-bar .location-text{
        /*background-color: lightpink;*/
        margin-left: -13px;
        height: 50px;
        padding: 1px;
    }
    .nav-bar #location-icon-address{
        font-size: 8px;    
    }
    .nav-bar .delivery-address{
        font-size: 12px;
        
    }
    .nav-bar .location-details{
        font-size: 12px;
        margin-left: 1px;
        
    }
    .nav-bar .update-location{
        font-weight: bold;
    }
    /*End of amazon logo and location*/

    /*lang, account, order, cart*/
    .nav-bar .lang-flag-container{
        padding: 1px 1px;
        margin-left: -10px;
    }
    .nav-bar .flag-icon img{
        width: 7px;
        
    }
    .nav-bar .lang-select{
        font-size: 12px;
    }
    .nav-bar .drop-fill-icon{
        font-size: 5px;
        padding-top: 3px;
        margin-left: -4px;
    }
    .nav-bar .hello-sign {
        padding-bottom: 2px;
        font-size: 12px;
        margin-left: -4px;
    }
    .nav-bar .account-lists-text{
        font-size: 13px;
        margin-left: -4px;
        
    }
    /*Hello, Sign in icon*/
    .nav-bar .down-fill-container{
        font-size: 5px;
        padding-top: 8px;
        margin-left: -2px;
    }
    .nav-bar .return-text{
        padding-bottom: 2px;
    }
    .nav-bar .return-text,
    .nav-bar .order-text{
        font-size: 12px;
        margin-left: -7px;
    }
    .cart-container{
        margin-left: -10px;
    }
    .nav-bar .cart-num-items{
        font-size: 12px;
        /*top: -1vw;
        right: 1vw;*/
    }
    .nav-bar .cart-text{
        font-size: 12px;
        /*font-size: 0.75vw;*/
    }
   .nav-bar .account-create-text{
        /*font-size: 0.6vw;*/
        font-size: 12px;
    }
    .nav-bar .cart-image img{
        /*width: 2vw;*/
        width: 3vw;
        height: auto;
        margin-top: -10px; 
    }
    /*End of lang, account, order, cart*/
}
/*end of @media*/

/*@media*/
@media (min-width: 766px) and (max-width: 1009px){
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        font-size: 13px;
        width: 100%;
    }
    .nav-bar .logo-location-container{
        display: flex;
        justify-content: start;
        height: 50px;
        margin-left: -15px;
        /*flex: 1;*/
    }
    .nav-bar .right-section{
        display: flex;
        height: 50px;
        gap: 1px;
        flex-shrink: 0;
    }
    /*End of the 3 sections*/

    /*Search bar*/
    .nav-bar .search-bar-container{
        margin-right: none;
    }
    .nav-bar .all-button{
        
        width: 40px;
        height: 40px;

    }
    .nav-bar .all-drop-downfill{
        font-size: 7px;
    }
    .search-bar-input-container{
      margin: none;
    }
    .nav-bar .search-bar-input{
        margin: none;
        /*width: 0;*/
        
    }  

    .nav-bar .search-bar-input::placeholder{
        font-size: 13px;
        
    }

    .nav-bar .search-bar-button-container{
        margin: none;
    }

    .nav-bar .search-button{
        font-size: 16px;
        height: 40px;
        width: 40px;   
    }
    
    /*End of search bar*/
    
    /*amazon logo and location*/
    .nav-bar .amazon-logo-container img{
        width: 60px;
        height: auto;
    }
    .nav-bar .location-text{
        height: 50px;
        padding: 1px;
    }
    .nav-bar #location-icon-address{
        font-size: 13px;    
    }
    .nav-bar .delivery-address{
        font-size: 13px;
        
    }
    .nav-bar .location-details{
        font-size: 15px;
        margin-left: 1px;
        
    }
    .nav-bar .update-location{
        font-weight: bold;
    }
    /*End of amazon logo and location*/

    /*lang, account, order, cart*/
    .nav-bar .lang-flag-container{
        padding: 1px 1px;
    }
    .nav-bar .flag-icon img{
        width: 10px;
        
    }
    .nav-bar .lang-select{
        font-size: 13px;
    }
    .nav-bar .drop-fill-icon{
        font-size: 7px;
        padding-top: 3px;
        margin-left: -1px;
    }
    .nav-bar .hello-sign {
        padding-bottom: 2px;
    }
    .nav-bar .hello-sign{
        font-size: 13px;
    }
    .nav-bar .account-lists-text{
        font-size: 15px;
    }
    .nav-bar .down-fill-container{
        font-size: 7px;
        padding-top: 5px;
    }
    .nav-bar .return-text{
        padding-bottom: 2px;
    }
    .nav-bar .return-text,
    .nav-bar .order-text{
        font-size: 13px;
    }
    .nav-bar .cart-num-items{
        font-size: 13px;
        top: -1vw;
        right: 1vw;
    }
    .nav-bar .cart-text{
        font-size: 13px;
    }
   .nav-bar .account-create-text{
        font-size: 13px;
    }
    .nav-bar .cart-image img{
        width: 3vw;
        height: auto;
        margin-top: -10px; 
    }
    /*End of lang, account, order, cart*/
}

/*@media (min-width: 1010px) and (max-width: 1503px){
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

}*/

/*end of @media*/
