
/*@media (min-width: 1304px) and (max-width: 1503px) {
    .first-row-flex-box-left{
        flex: 1;
    }
    .first-row-flex-box-right{
        flex: 1;
    }
    .row-container{
        flex-shrink: 0;
    }
    .title-four-picture-container{
        flex-shrink: 0;
        width: 300px;
        height: auto;
    
    }

    .container1-img{
        width: 130px;
        height: auto;
        object-fit: cover;
    }
    .container2-img{
        width: 130px;
        height: auto;
        object-fit: cover;
    }
}

@media (min-width: 1104px) and (max-width: 1303px) {
    .first-row-flex-box-left{
        flex: 1;
    }
    .first-row-flex-box-right{
        flex: 1;
    }
    .row-container{
        flex-shrink: 0;
    }
    .title-four-picture-container{
        flex-shrink: 0;
        width: 350px;
        height: 400px;
    
    }

    .container1-img{
        width: 150px;
        height: auto;
        object-fit: cover;
    }
    .container2-img{
        width: 150px;
        height: auto;
        object-fit: cover;
    }
    .title-four-picture-container.hidden{
        display: none;
    }
}

@media (min-width: 1001px) and (max-width: 1103px) {
    .first-row-flex-box-left{
        flex: 1;
    }
    .first-row-flex-box-right{
        flex: 1;
    }
     .first-row-section{
        width: 100%;
        
    }
    .row-container{
        flex-shrink: 0;
        margin-top: 60px;
    }
    .title-four-picture-container{
        flex-shrink: 0;
        width: 300px;
        height: auto;
    
    }

    .container1-img{
        width: 130px;
        height: auto;
        object-fit: cover;
    }
    .container2-img{
        width: 130px;
        height: auto;
        object-fit: cover;
    }
    .title-four-picture-container.hidden{
        display: none;
    }
}
@media (min-width: 885px) and (max-width: 1000px) {
    .first-row-flex-box-left{
        flex: 1;
    }
    .first-row-flex-box-right{
        flex: 1;    
    }
    .first-row-section{
        width: 790px;
        
        margin-left: 4vw;
       
    }
   
    .row-container{
        
        flex-shrink: 0;
        margin-top: 70px;
        width: 100%;
        
    }
    .title-four-picture-container{
        flex-shrink: 0;
        width: 250px;
        height: auto;
    }

    .container1-img{
        width: 110px;
        height: auto;
        object-fit: cover;
    }
    .container2-img{
        width: 110px;
        height: auto;
        object-fit: cover;
    }
    .title-four-picture-container.hidden{
        display: none;
    }
}

@media (min-width: 761px) and (max-width: 884px) {
    .first-row-flex-box-left{
        display: flex;
        flex: 1;
    }
    .first-row-flex-box-right{
        display: flex;
         flex: 1;
    }
     .first-row-section{
        width: 790px;
        
        margin-left: 12vw;
       
    }

    .row-container{
        flex-shrink: 0;
        margin-top: 70px;
        
    }
    .title-four-picture-container{
        flex-shrink: 0;
        width: 250px;
        height: auto;
    }

    .container1-img{
        width: 120px;
        height: auto;
        object-fit: cover;
    }
    .container2-img{
        width: 120px;
        height: auto;
        object-fit: cover;
    }
    .title-four-picture-container.hidden{
        display: none;
    }
}
@media (min-width: 645px) and (max-width: 760px) {
    .first-row-flex-box-left{
        display: flex;
        flex: 1;
    }
    .first-row-flex-box-right{
        display: flex;
         flex: 1;
    }
    .first-row-section{
        width: 790px;
        
        margin-left: 25vw;
       
    }

    .row-container{
        flex-shrink: 0;
        margin-top: 70px;
        
    }
    .title-four-picture-container{
        flex-shrink: 0;
        width: 250px;
        height: auto;
    }

    .container1-img{
        width: 120px;
        height: auto;
        object-fit: cover;
    }
    .container2-img{
        width: 120px;
        height: auto;
        object-fit: cover;
    }
    .title-four-picture-container.hidden{
        display: none;
    }
}
@media (max-width: 644px) {
    .first-row-flex-box-left{
        display: flex;
        flex: 1;
    }
    .first-row-flex-box-right{
        display: flex;
         flex: 1;
    }
     .first-row-section{
        width: 790px;
        
        margin-left: 25vw;
       
    }

    .row-container{
        flex-shrink: 0;
        margin-top: 75px;
        
    }
    .title-four-picture-container{
        flex-shrink: 0;
        width: 250px;
        height: auto;
    }

    .container1-img{
        width: 120px;
        height: auto;
        object-fit: cover;
    }
    .container2-img{
        width: 120px;
        height: auto;
        object-fit: cover;
    }
    .title-four-picture-container.hidden{
        display: none;
    }
}*/

