@media (max-width: 455px){
    .nav-bar-place-order .secure-checkout-container{
        display: none;
    }
}

.nav-bar-place-order{
    background-color: hsla(128, 50%, 6%, 0.871);
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: auto;
    padding: 0 20px;
    box-shadow: 0 0.1vw 0.2vw rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;   
}

.nav-bar-place-order a{
    text-decoration: none;
}

.amazon-logo-secure-checkout-cart-section{
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

.logo-location-place-order-container{
    height: auto;
    display: flex;
    align-items: center;
    gap: auto;
    white-space: nowrap;   /*prevent text wrapping*/
    flex-shrink: 0;
    
}

.secure-checkout-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-top: -5px;

}

.right-place-order-section{
    display: flex;
    align-items: center;
    height: auto;
    gap: auto;
    white-space: nowrap;   /*prevent text wrapping*/
    flex-shrink: 0;
}

.delivery-pay-place-order-section1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.delivery-pay-place-order-section{
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 20px;
    width: 1460px;
    justify-content: center;
    flex-shrink: 0;
}

.right-page,
.left-page{
    flex-shrink: 1;
    width: 250px;
}

.place-order-delivery-pay-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    width: 1000px;   
}

.placeOrder-delivery-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    background-color: white;
    padding: 20px;

    border-radius: 10px;
    background: linear-gradient(
        to bottom,
        #a22c29 0%,
        #a22c29 7%,
        white 7%,
        white 100%
    );
}

.rapproach-delivery-place{
    display: flex;
    flex-direction: column;
}

.order-destination-change{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.place-order-destination{
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: black;
}

.order-destination-change a{
    text-decoration: none;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    color:#01497c;

}

.placeOrder-delivery-container a{
    text-decoration: none;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:#01497c;
}

.destination-name-container{
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}

.place-order-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    width: 460px;
    height: auto;
    padding: 20px;
    background-color: white;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background: linear-gradient(
        to bottom,
        #01497c 0%,
        #01497c 3%,
        white 3%,
        white 100%
    );
}

.place-order-button{
    background-color: #ffd000;
    width: 400px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
}
.place-order-amazon-policy-order{
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;

}
.place-order-amazon-policy-order a{
    text-decoration: none;
    color: #01497c;
}

.place-order-horizontal-line{
    background-color: grey;
    width: 400px;
    height: 1px;
}

.items-shipping-tax-total-container{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.number-items-price-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*font-weight: 600;*/
    color: black;
}

.place-order-total-price,
.place-order-total{
    font-weight: 600;
    font-size: 20px;
}

/*Gift card section CSS*/

.place-order-amazon-gift-card-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.place-order-amazon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    width: 1460px;
}

.gift-card-place-order{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 985px;
    background-color: white;
    height: 130px;
    
}

.gift-card-place-order-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 750px;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 15px;

}

.place-order-get-amazon-gift-card{
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 92px;
    margin-top: 1px;
    padding-right: 20px;
}

.place-order-gift-card-text{
    font-weight: bold;
    color: black;
    margin-left: 20px;
}
.upon-approval{
    color: black;
}

.place-order-get-amazon-gift-card a{
    text-decoration: none;
    color: #01497c;
}
/*End of gift card CSS*/

/*First Item in the cart CSS*/

.place-order-cart-first-item-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.place-order-first-item-full-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    width: 1460px;    
}

.place-order-first-item-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-shrink: 0;
    gap: 20px;
    padding: 20px;
    width: 985px;
    background-color: white;
    height: auto;
}

.arraving-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.image-item-name-price-container{
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 20px;
    width: 570px;
    background-color: rgb(249, 246, 246);
    border-radius: 10px;
    padding: 20px;
}

.image-minus-plus-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.image-item-name-price-container img{
    width: 175px;
    height: auto;
    object-fit: contain;
    background-color: rgb(249, 246, 246);
}

.item-name-price-place-order{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 400px;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.price-place-order-cart{
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.item-name-price-place-order a{
    text-decoration: none;
    color: #01497c;
    font-size: 15px;
    margin-top: 10px;
}

.gift-option-place-order{
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: black;
}

.place-order-button-gift-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.add-to-cart-num-items,
.add-to-cart-plus-sign{
    font-size: 16px;
    font-weight: bold;
}
.add-to-cart-delete-add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    height: 35px;
    background-color: white;
    border: 3px solid #ffd60a;
    border-radius: 17px;
    font-family: Nunito, sans-serif;
    padding: 5px;
}
.cart-action-btn,
.add-to-cart-plus-sign,
.add-to-cart-delete-button{
    background-color: white;
    border: none;
    width: 30px;
    height: 20px;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.bi.bi-plus-lg,
.bi.bi-trash{
    font-weight: bold;
    font-size: 16px;
}

.shopping-cart-check-icon-prime{
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #0466c8;
}

.bi.bi-check-lg{
    color: #e36414;
    font-weight: bold;
    font-size: 16px;
}

.product-delivery-date{
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 30px;
}

.radio-input-delivery-date{
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 10px;
}

.delivery-date{
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.delivery-options-free{
    margin-left: 30px;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.bottom-order-total-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.bottom-order-full-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    width: 1460px;
}

.place-order-button-total-order-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    gap: 20px;
    width: 985px;
    background-color: white; 
    padding: 20px;
}

.place-order-bottom-button{
    border: none;
    width: 200px;
    background-color: #ffd000;
    border-radius: 15px;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px;
    /*color: black;*/
}

.bottom-total-order-price{
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.bottom-amazon-policy-container{
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.bottom-amazon-policy-container a{
    text-decoration: none;
    color: #01497c;
}

.total-order-amazon-policy-bottom{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 700px;
}
